@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 25px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6B6B6B;
    border-radius: 60px;
  }
